<html>
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/supersized.css">
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->        <!--[if lt IE 9]>
            <script src="assets/js/html5.js"></script>
        <![endif]-->

    </head>




        <body>
        <div class="page-container1">
            <h10>Welcome</h10>
              
          
        </div>
		
        <!-- Javascript -->
        <script src="/static/js/jquery-1.8.2.min.js" ></script>
        <script src="/static/js/supersized.3.2.7.min.js" ></script>
        <script src="/static/js/supersized-init.js" ></script>
       

        </body>

</html>

